@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.menu {
  @include flexX(flex-end);
  gap: 15px;
  ul {
    @include flexX(flex-end);
    list-style: none;
    gap: 10px;
  }
}

.link {
  color: $IRON;
}

.active {
  font-weight: 600;
}
